@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />



<main id="RegisterPageContainer">

    <form id="RegisterForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h1>Create a new account.</h1>
           
         
        <div class="inputBox">
            <input asp-for="Input.FirstName" aria-label="First Name" type="text" required />
            <span asp-validation-for="Input.FirstName">First Name</span>
        </div>
        <div class="inputBox">
            <input asp-for="Input.LastName" aria-label="Last Name" type="text" required />
            <span asp-validation-for="Input.LastName">Last Name</span>
        </div>
        <div class="inputBox">
            <input asp-for="Input.Email" aria-label="Email" type="text" required />
            <span asp-validation-for="Input.Email">Email</span>
        </div>
        <div class="inputBox">
            <input asp-for="Input.Password" aria-label="Password" type="password" required />
            <span asp-validation-for="Input.Password">Password</span>
        </div>
        <div class="inputBox">
            <input asp-for="Input.ConfirmPassword" aria-label="Confirm Password" type="password" required />
            <span asp-validation-for="Input.ConfirmPassword">Confirm Password</span>
        </div>
        <button id="registerButton" type="submit">Register</button>

        </form>

</main>

@section Scripts {
    
    <partial name="_ValidationScriptsPartial" />
}
