:root {
    --baseClampWidth: 4em;
    --headWidth: clamp( var(--baseClampWidth) + .5vw, var(--baseClampWidth) + 1vw, var(--baseClampWidth) + 1.5vw );
    --bodyWidth: clamp( var(--baseClampWidth) + 1vw, var(--baseClampWidth) + 2vw, var(--baseClampWidth) + 3vw );
    --whiteElementsShadow: inset 0em 0em 0.3em 0.2em rgb(196, 196, 196), inset 0em 0em 0.3em 0.2em rgb(255, 255, 255);
}

.centeredFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.robot {
    --baseForBottomClamp: 3em;
    position: absolute;
    rotate: z -30deg;
    right: -30em;
    opacity : 0;
    transition : right 3s,opacity 2s;
    bottom: clamp(var(--baseForBottomClamp) + 5vh,var(--baseForBottomClamp) + 17vh,var(--baseForBottomClamp) + 22vh);
}

.showRobot {
    opacity : 1;
    right: 2em;
}
@media (width < 45em) {
    .robot {
        opacity: 0;
    }
}
.head {
    position: relative;
    margin: 3em auto;
    background: white;
    width: var(--headWidth);
    box-shadow: var(--whiteElementsShadow);
    aspect-ratio: 4/3;
    border-radius: 5em 5em 1em 1em;
}

.face {
    position: relative;
    background: black;
    height: 50%;
    width: 60%;
    padding-top: 10%;
    align-items: start;
    justify-content: space-around;
    border-radius: 1.2em 1.2em 0.6em 0.6em;
    box-shadow: inset 0em 0em 0.1em 0.1em rgb(59, 59, 59);
}

.eye {
    background: repeating-linear-gradient(180deg, red 70%, #000000);
    height: 30%;
    aspect-ratio: 1/0.7;
    border-radius: 7em 7em 3em 3em;
}

.smile {
    position: absolute;
    background: blue;
    height: 10%;
    width: 80%;
    align-self: end;
    bottom: 0.5em;
    border-radius: 0 0 105em 105em / 0 0 100vw 100vw;
}

.body {
    position: relative;
    margin: -2em auto;
    width: var(--bodyWidth);
    aspect-ratio: 5/6;
    background: white;
    border-radius: 3em 3em 15em 15em;
    box-shadow: var(--whiteElementsShadow);

}
    /* arms */
    .body::before,
    .body::after {
        content: "";
        position: absolute;
        width: 14%;
        background: whitesmoke;
        box-shadow: inset 0em 0em 0.5em 0.1em #e6e6e6;
        /*background: #363636;*/
        aspect-ratio: 1/6;
        border-radius: 2em 2em 1em 10em;
        top: 5%;
        transform-origin: top;
        transition: rotate 2s;
    }

    .body::before {
        left: -20%;
    }

    .body::after {
        right: -20%;
    }

.robot:hover .body::before,
.robot:hover .body::after {
    rotate: z 180deg;
}
/* legs */
.leg {
    position: absolute;
    background: white;
    bottom: -85%;
    height: 90%;
    aspect-ratio: 1/4.5;
    border-radius: 5em 5em 1em 5em;
    box-shadow: var(--whiteElementsShadow);
}

    .leg:nth-of-type(1) {
        left: 10%;
    }

    .leg:nth-of-type(2) {
        right: 10%;
    }
