/*resets*/

:root {
    --pageContainerBg: #1c1c1c;
    --overallBackground: #171717;
    --overallBorderRadius: 15px;
    --opacityTransition: 2s;
    --translateTranstion: 2s;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
textarea,
button,
select {
  
    font: inherit;
}

* {
    
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    overflow-x : hidden;
    color: white;
    /*font-size: clamp(1rem, 1rem + 0.35vw, 1rem + 0.55vw);*/
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

html {
    color-scheme: dark light;
}



#nav, body  {
    background-color: var(--overallBackground) !important;
}





@media (prefers-reduced-motion) {
    : root {
        --opacityTransition: 0s;
        --translateTranstion: 0s;
    }
}

select#mealPlanSelect, input.mealInput, input.mealPlanInput {
    border-radius: 15px !important;
    border: none !important;
    color: white !important;
    background: var(--overallBackground) !important;
}


caption{
    font-weight : bold;
    text-align : center;
    caption-side : top;
    color : white
}
table{
    color : white !important;
}

button{
    border-radius : 15px !important;
}



    /* =============================== */


    /*modal*/
.modal-content {
    background-color: var(--pageContainerBg);
    border-radius: var(--overallBorderRadius);
}

/*open modal buttons*/

button[data-bs-toggle="modal"] {
    background: rgb(27, 27, 27);
    cursor: pointer;
    padding: 0.3em 0.6em;
    outline: none;
    border: 1px solid #333;
    box-shadow: 
    inset 0em 0em 0.5em 0.1em black;
    border-radius: 0.5em;
    transition: border-color 0.25s;
}
button[data-bs-toggle="modal"]:is(:hover, :focus-visible)
{
 border-color: #646cff;
}



   

/*navigation */



#nav * {
    color: white !important;
}

.nav-item {
    border-radius: 10px;
    outline: 1px solid transparent;
    transition: outline-color 0.25s;
}
    .nav-item:hover {
        outline-color: #646cff;
    }




 /* intersection observer related  */ 

.leftTraslated{
    translate : -100vw;
}
.opacity-0 {
    opacity: 0;
}

.rightTranslated {
    translate: 100vw;
}
#leftPartNav, #rightPartNav, section#mealPlanPageContainer, #mealPageContainer {
    transition: opacity var(--opacityTransition), translate var(--translateTranstion);
}

.upTraslated {
    translate: 0 -100vh;
}



