@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

<main id="homePageContainer">
    <header>
        <h1>Become a better version of yourself with</h1>
        <img src="./assets/home/get-healthy-low-resolution-logo-white-on-transparent-background.png"
             alt="get-healthy-low-resolution-logo-white-on-transparent-background" />
    </header>

    <section id="mainGrid">
        <div>
            <h2>Sign up</h2>
            <img src="./assets/home/signUp.png" alt="Sign up" />
        </div>
        <div>
            <h2>Sign in</h2>
            <img src="./assets/home/signIn.png" alt="Sign in" />
        </div>
      
      
        <div>
            <h2>Get more info</h2>
            <img src="./assets/home/moreInfo.png" alt="moreInfo" />
        </div>
        <div >
            <h2>Track your progress</h2>
            <img src="./assets/home/trackProgress.png" alt="trackProgress" />
        </div>
    </section>
</main>